
<header class="header" id="{{block_id}}">
    <div class="container header__container">
        <div class="header__logo col-md-4 col-sm-6 col-xs-12">
            <a href="/"><img src="{{image}}" alt=""></a>
        </div>
        <div class="contacts col-md-3 col-md-offset-3 col-lg-offset-3 col-sm-6 col-xs-12">
            <div class="contacts-wrap">
                <span class="contacts__whatsapp">WhatsApp / Viber / Telegram</span><br><span class="contacts__tel">{{tel}}</span>
            </div>

        </div>
        <div class="consult col-md-2 col-sm-12 col-xs-12">
            <a href=".modal-consult" data-toggle="modal"><div class="header__consult">Консультация</div></a>
        </div>
        <h1 class="header__title col-md-12 col-sm-12 col-xs-12">{{{header}}}</h1>
        <h2 class="header__subtitle col-md-12 col-sm-12 col-xs-12">{{header2}}</h2>
        <div class="header__scroll-down col-md-12 col-sm-12 col-xs-12">листай вниз</div>
        <div class="header__scroll-down-icon-wrap col-md-12 col-sm-12 col-xs-12">
            <div class="header__scroll-down-icon"></div>
        </div>
    </div>
</header>
<main>