<section class="why" id="{{block_id}}">
    <div class="container why__container">
        <div class="red-block"></div>
        <h2 class="utp__header why__header">{{header}}</h2>
        <div class="why__icons row">
            <div class="why__block col-md-3 col-sm-6 col-xs-12">
                <div class="why__icon why__icon1"></div>
                <div class="why__answer">{{{cause1}}}</div>
                <div class="why__red_line"></div>
            </div>
            <div class="why__block col-md-3 col-sm-6 col-xs-12">
                <div class="why__icon why__icon2"></div>
                <div class="why__answer">{{{cause2}}}</div>
                <div class="why__red_line"></div>
            </div>
            <div class="why__block col-md-3 col-sm-6 col-xs-12">
                <div class="why__icon why__icon3"></div>
                <div class="why__answer">{{{cause3}}}</div>
                <div class="why__red_line"></div>
            </div>
            <div class="why__block col-md-3 col-sm-6 col-xs-12">
                <div class="why__icon why__icon4"></div>
                <div class="why__answer">{{{cause4}}}</div>
                <div class="why__red_line"></div>
            </div>
            <div class="why__block col-md-3 col-sm-6 col-xs-12">
                <div class="why__icon why__icon5"></div>
                <div class="why__answer">{{{cause5}}}</div>
                <div class="why__red_line"></div>
            </div>
            <div class="why__block col-md-3 col-sm-6 col-xs-12">
                <div class="why__icon why__icon6"></div>
                <div class="why__answer">{{{cause6}}}</div>
                <div class="why__red_line"></div>
            </div>
            <div class="why__block col-md-3 col-sm-6 col-xs-12">
                <div class="why__icon why__icon7"></div>
                <div class="why__answer">{{{cause7}}}</div>
                <div class="why__red_line"></div>
            </div>
            <div class="why__block col-md-3 col-sm-6 col-xs-12">
                <div class="why__icon why__icon8"></div>
                <div class="why__answer">{{{cause8}}}</div>
                <div class="why__red_line"></div>
            </div>
        </div>
    </div>
</section>