<section class="utp" id="{{block_id}}">
    <div class="container utp__container">
        <div class="red-block"></div>
        <h2 class="utp__header">{{header}}</h2>
        <div class="utp__block1 col-md-3 col-sm-6 col-xs-12">
            <div class="utp_icon"></div>
            <div class="utp__title">{{{header-1}}}</div>
            <p class="utp__text">{{text1_1}}</p>
            <p class="utp__text">{{text1_2}}</p>
        </div>
        <div class="utp__block2 col-md-3 col-sm-6 col-xs-12">
            <div class="utp_icon"></div>
            <div class="utp__title">{{{header-2}}}</div>
            <p class="utp__text">{{text2_1}}</p>
            <p class="utp__text">{{text2_2}}</p>
        </div>
        <div class="utp__block3 col-md-3 col-sm-6 col-xs-12">
            <div class="utp_icon"></div>
            <div class="utp__title">{{{header-3}}}</div>
            <p class="utp__text">{{text3_1}}</p>
            <p class="utp__text">{{text3_2}}</p>
        </div>
        <div class="utp__block4 col-md-3 col-sm-6 col-xs-12">
            <div class="utp_icon"></div>
            <div class="utp__title">{{{header-4}}}</div>
            <p class="utp__text">{{text4_1}}</p>
            <p class="utp__text">{{text4_2}}</p>
        </div>
    </div>
</section>